<div class="flex justify-between items-center hover:bg-[#5b3861] rounded-lg ">
  <div class="flex items-center gap-2 mx-2">
    <svg viewBox="0 0 20 20" class="w-5 h-5 shrink-0" id="<%= dom_id(channel, :icon) %>">
      <% if channel.public %>
        <path fill="#d5c6db" fill-rule="evenodd" d="M9.74 3.878a.75.75 0 1 0-1.48-.255L7.68 7H3.75a.75.75 0 0 0 0 1.5h3.67L6.472 14H2.75a.75.75 0 0 0 0 1.5h3.463l-.452 2.623a.75.75 0 0 0 1.478.255l.496-2.878h3.228l-.452 2.623a.75.75 0 0 0 1.478.255l.496-2.878h3.765a.75.75 0 0 0 0-1.5h-3.506l.948-5.5h3.558a.75.75 0 0 0 0-1.5h-3.3l.54-3.122a.75.75 0 0 0-1.48-.255L12.43 7H9.2zM11.221 14l.948-5.5H8.942L7.994 14z" clip-rule="evenodd"></path>
      <% else %>
        <path fill="#d5c6db" fill-rule="evenodd" d="M10 1.5A4.5 4.5 0 0 0 5.5 6v1.5h-.25A2.25 2.25 0 0 0 3 9.75v6.5c0 .966.784 1.75 1.75 1.75h10.5A1.75 1.75 0 0 0 17 16.25v-6.5a2.25 2.25 0 0 0-2.25-2.25h-.25V6A4.5 4.5 0 0 0 10 1.5m3 6V6a3 3 0 1 0-6 0v1.5zM4.5 9.75A.75.75 0 0 1 5.25 9h9.5a.75.75 0 0 1 .75.75v6.5a.25.25 0 0 1-.25.25H4.75a.25.25 0 0 1-.25-.25z" clip-rule="evenodd"></path>
      <% end %>
    </svg>
    <%= link_to channel.name, messages_channel_path(channel),
                    data: { 
                      turbo_frame: "messages_frame",
                      action: "click->channels#subscribe",
                      channels_target: "link", room: "#{channel.name}_#{channel.id}"
                       },
                      id: dom_id(channel, :link),
                      class: "channel-link block py-2 font-medium text-[#d5c6db]"%>
  </div>
  <% if current_user.admin?(channel)%>
    <%= button_to channel_path(channel),
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure you want to delete #{channel.name} channel?" } },
                    class: "text-white px-4 rounded-lg cursor-pointer" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-10" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1">
        <line x1="4" y1="6" x2="20" y2="6" stroke-linecap="round" stroke-linejoin="round"/>
        <line x1="9" y1="3" x2="15" y2="3" stroke-linecap="round" stroke-linejoin="round"/>
        <rect x="6" y="6" width="12" height="16" rx="2" ry="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  <% end %>
</div>