<div class="h-screen flex bg-surface-50">

  <aside class="w-64 border-r border-slate-200 bg-white flex-shrink-0">
    <div class="p-3" data-controller="channels">
    <div class="mb-2 text-xs text-slate-500 uppercase" >Channels</div>

      <% @channels.each do |channel| %>
        <%= link_to channel.name,
          messages_channel_path(channel),
          data: { 
            turbo_frame: "messages_frame", 
            "action": "click->channels#subscribe",
            room: "#{channel.name}_#{channel.id}"
            },
          class: "channel-link block px-3 py-2 rounded-md mb-1 hover:bg-slate-100 #{'bg-slate-200 font-medium' if channel.id == @active_channel_id}" %>
      <% end %>
    </div>

    <div class="mt-auto p-4 border-t border-slate-100 text-xs text-slate-500">
      Signed in as<br>
      <strong class="text-slate-700"><%= current_user.email%></strong>
    </div>
  </aside>

  <main class="flex-1 flex flex-col"  id="channel-messages" data-room="<%= @channel.name %>_<%= @channel.id %>">
    <turbo-frame id="messages_frame">
    </turbo_frame>
  </main>
</div>
